SECRET_KEY=django-insecure-sonoritiz-super-secret-key-change-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,10.0.2.2,*

# Jamendo Client ID (Obtenu via https://developer.jamendo.com/)
JAMENDO_CLIENT_ID=567b5e40

# Database (Default fallback to SQLite if DB_ENGINE is sqlite3)
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=sonoritiz_db
DB_USER=sonoritiz_user
DB_PASSWORD=sonoritiz_password
DB_HOST=localhost
DB_PORT=5432

# Redis Cache & Channels
REDIS_URL=redis://127.0.0.1:6379/0
